.page__custom-settings{
  --menuBackgroundColor: #6c5ce7;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #241c69;
  --menuLinkOutlineOffset: -.5rem;
}

.menu{
  display: inline-block;
  background-color: #ffffff;
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  box-sizing: border-box;
  padding-left: .75rem;
  padding-right: .75rem;
  margin: auto;
  width: 100%;
  height: 106.455px;
}

.nav-menu-list{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem !important;
  list-style: none !important;
  position: relative;
  vertical-align: middle;
}

.menu-group{
  list-style-type: none
}

.menu-logo{
  margin-top:0;
  margin-bottom:0;
  object-fit: contain;
  display: inline-flex;
  vertical-align: middle;
}

.menu-logo img{
  max-width: 130px;
  height: 32.5px;
}

.menu-link{
  color: #ff0303 !important;
  padding: 1.5rem 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
}

.text-underlined{
  margin-top: 0.5rem;
  position: relative;
  overflow: hidden;
}

/*
=====
DEMO
=====
*/

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__menu:nth-child(n+2){
  margin-top: 3rem;
}

@media (min-width: 750px) {
  nav {
    max-width: 100% !important;
  }
}

@media (max-width: 1100px) {
  .nav-menu-list{
    display: inline-flex;
  }
}
