@import "../node_modules/bootstrap/scss/bootstrap";

.margin-1{
  margin: 1rem;
}

.margin-2{
  margin: 2rem;
}

.margin-3{
  margin: 3rem;
}

.margin-4{
  margin: 4rem;
}

.margin-5{
  margin: 5rem;
}

.centre-container{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bordered{
  border: 3px solid cyan;
}

.tabs-container{

}

.red-border{
  border: 3px solid red;
}

.green-border{
  border: 3px solid green;
}

